.navbar {
    padding-top: 150px;
    padding-bottom: 150px;
    background-image: url('../../../assets/header_bg.png') !important;
    background-size: cover;
    background-position: center;
}

.navbar-toggler {
    color: black !important;
    border-color: black !important;
    border-width: 10px;
    margin-bottom: 10px;
}

.navbar-toggler-icon {
    color: black !important;
}

.navbar-nav {
    background-color: aliceblue;
    border-radius: 15px;
}

.active {
    margin-left: 15px;
    margin-right: 15px;
}

.nav-item:hover {
    background-color: rgb(225, 217, 217);
    border-radius: 15px;
}